.ci_insertion {
  background-color: #CCEBD6;
}

.ci_deletion {
  background-color: #FFCCCC;
}

.ci_block {
  /* background-color: #E6E6E6; */
  background-color: rgb(230, 238, 240);
}

.keyword {
  color: blue;
}

.comment {
  /* Standard ABAP Editor Color and style */
  color: grey;
  font-style: italic;
}

.string {
  /* Standard ABAP Editor Color */
  color: rgb(77,166,25);
}

.ci_insertion .string {
  /* Strings in insertion blocks need a little more contrast */
  color: darkgreen;
}

.number {
  /* Standard ABAP Editor Color */
  color: rgb(51,153,255);
}

pre {
  display:inline;
  font-size: 12px;
  padding: 0px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
